@import "src/assets/styles/variables.scss";

* {
  text-align: center;
  font-family: $ticket-font;
}

h1 {
  font-size: 28px;
}

h2 {
  margin: 0;
  padding: 20px 0 0 0;
  background-color: $dark-green;
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.message {
  width: 100%;
  background-color: $dark-green;
  border-bottom: 1px solid gray;
  color: white;
  padding-bottom: 20px;
}

p {
  font-size: 20px;
}

@media (max-width: 480px) {
  .tiles-wrap {
    flex-direction: column;
    align-items: center;
  }
}
