<form
  *ngIf="profileForm"
  [formGroup]="profileForm"
  (ngSubmit)="updateUserProfile()"
>
  <div>
    <img [src]="profilePictureUrl" (click)="fileUpload.click()" />
    <input
      type="file"
      class="file-input"
      #fileUpload
      (change)="onSelect($event)"
      accept="image/*"
    />
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" [readonly]="true" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Change your password</mat-label>
    <input
      #newPassword
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="newPassword"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="newPassword.value.length">
    <mat-label>Enter your original password</mat-label>
    <input
      #newPassword
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="originalPassword"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="newPassword.value.length">
    <mat-label>Confirm new password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="confirmNewPassword"
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" [readonly]="true" />
  </mat-form-field>

  <button mat-raised-button [disabled]="!profileForm.valid" type="submit">
    Update
  </button>
</form>
