/* You can add global styles to this file, and also import other style files */
@import "src/assets/styles/variables.scss";
@import "src/assets/styles/partials/card.scss";
@import "src/assets/styles/partials/form.scss";
@import "src/assets/styles/partials/page.scss";
@import "src/assets/styles/partials/input.scss";
@import "../src/assets/styles/snackbar-styles.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
