.error-snackbar {
  --mdc-snackbar-container-color: red;
  --mat-mdc-snack-bar-button-color: white;
}

.info-snackbar {
  --mdc-snackbar-container-color: green;
  --mat-mdc-snack-bar-button-color: white;
}
