@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

//base colors
$light-green: #e5f1e3;
$mid-green: #a3cd9e;
$strong-green: #529471;
$dark-green: #35635b;

//global font
$ticket-font: "Montserrat", sans-serif;

//sizes
$header-height: 64px;
$footer-height: 64px;